#!/usr/bin/env bash
# (C) 2023–present Bartosz Sławecki (bswck)
#
# Run this before pushing to ensure that the package lock is up-to-date.
# {{"project/scripts/lock.sh.jinja"|skeleton_notice(sref=sref, srev=srev)|line_prefix("# ")}}
#
# Usage:
# $ poe lock

poetry lock --no-update
echo "Auto-commit package lock"
git add "poetry.lock" && git commit -m "Update package lock" || exit 0