#!/usr/bin/env bash
# (C) 2023–present Bartosz Sławecki (bswck)
#
# Sync with bswck/skeleton.
#
# Usage:
# $ poe sync

####################################################################################################
# BEGIN https://github.com/bswck/skeleton/tree/{{_copier_answers['_commit']}}/handle-task-event.sh #
{% filter indent(width=0) %}
{%- include "handle-task-event.sh" -%}
{% endfilter %}
# END https://github.com/bswck/skeleton/tree/{{_copier_answers['_commit']}}/handle-task-event.sh   #
####################################################################################################

before_update_algorithm() {
    if test "$(git diff --name-only | grep ".*")"
    then
        echo "There are uncommitted changes in the project."
        git stash push --message "Stash before syncing with {{_copier_answers['_src_path']}}"
        DID_STASH=1
    else
        echo "Working tree clean, no need to stash."
    fi
}

run_update_algorithm() {
    copier update --trust --vcs-ref ${1:-"HEAD"}
    determine_last_ref
    determine_project_path
}

after_update_algorithm() {
    cd "$PROJECT_PATH"

    echo "Previous skeleton revision: ${LAST_REF:-"N/A"}"
    echo "Current skeleton revision: {{_copier_answers['_commit']}}"

    local REVISION_PARAGRAPH="Skeleton revision: https://github.com/bswck/skeleton/tree/{{_copier_answers['_commit']}}"

    git add .
    if test "$LAST_REF" = "{{_copier_answers['_commit']}}"
    then
        echo "The version of the skeleton has not changed."
        local COMMIT_MSG="Patch {{_copier_conf.answers_file}} at bswck/skeleton@$LAST_REF"
    else
        local COMMIT_MSG="Upgrade to bswck/skeleton@{{_copier_answers['_commit']}}"
    fi
    git commit --no-verify -m "$COMMIT_MSG" -m "$REVISION_PARAGRAPH"
    git push --no-verify
    echo "Sleeping for 3 seconds..."
    sleep 3
    toggle_workflows
    if test "$DID_STASH"
    then
        echo "Unstashing changes..."
        git stash pop && echo "Done!"
    fi
}

main() {
    export PROJECT_PATH_KEY="${PPID}_skeleton_project_path"
    export LAST_REF_KEY="${PPID}_skeleton_last_ref"
    cd "${PROJECT_PATH:=$(git rev-parse --show-toplevel)}"
    echo
    echo "UPDATE ROUTINE [1/3]: Running pre-update hooks."
    echo "-----------------------------------------------"
    before_update_algorithm
    echo "-----------------------------------------------"
    echo "UPDATE ROUTINE [1/3] COMPLETE. ✅"
    echo
    echo "UPDATE ROUTINE [2/3]: Running the underlying update algorithm."
    echo "--------------------------------------------------------------"
    run_update_algorithm
    echo "--------------------------------------------------------------"
    echo "UPDATE ROUTINE [2/3] COMPLETE. ✅"
    echo
    echo "--- Project path: $PROJECT_PATH"
    echo "--- Last skeleton revision: ${LAST_REF-"N/A"}"
    echo
    echo "UPDATE ROUTINE [3/3]: Running post-update hooks."
    echo "------------------------------------------------"
    after_update_algorithm
    echo "------------------------------------------------"
    echo "UPDATE ROUTINE [3/3] COMPLETE. ✅"
    echo
    echo "Done! 🎉"
    echo
    echo "Your repository is now up to date with this bswck/skeleton revision:"
    echo "https://github.com/bswck/skeleton/tree/{{_copier_answers['_commit']}}"
    redis-cli del "$PROJECT_PATH_KEY" >/dev/null 2>&1
    redis-cli del "$LAST_REF_KEY" >/dev/null 2>&1
}

main