#!/usr/bin/env bash
# (C) 2023–present Bartosz Sławecki (bswck)
#
# Interact with {{skeleton}} (current version: {{skeleton_rev}}).
#
# {{_origin|skeleton_notice(snref=snref, srev=srev)|custom_indent("# ")}}
#
# Usage:
#
# To update to the latest version:
# $ poe skeleton upgrade
#
# To update to version 1.2.3:
# $ poe skeleton upgrade 1.2.3
#
# To make a mechanized repo patch, but keep the current skeleton version:
# $ poe skeleton patch
#
# It's intended to be impossible to make a mechanized repo patch and update the skeleton
# at the same time.

# shellcheck disable=SC2005

#%- with upgrade_script=True %#
#%- filter indent(width=0) -%#
#%- include "handle-task-event.sh" -%#
#%- endfilter %#
#%- endwith %#

determine_new_ref() {
    # Determine the new skeleton revision set by the child process
    export NEW_REF
    NEW_REF=$(redis-cli get "$NEW_REF_KEY")
}

before_update_algorithm() {
    # Stash changes if any
    if test "$(git status --porcelain)"
    then
        echo "There are uncommitted changes in the project." 1>&2
        echo "Stash them and continue." 1>&2
        return 1
    else
        echo "Working tree clean, no need to stash."
    fi
}

run_update_algorithm() {
    # Run the underlying update algorithm
    export MODE
    SKELETON_COMMAND="${1:-"upgrade"}"
    if test "$SKELETON_COMMAND" = "upgrade"
    then
        copier update --trust --vcs-ref "${2:-"HEAD"}" --defaults || return 1
    elif test "$SKELETON_COMMAND" = "patch"
    then
        # shellcheck disable=SC2068
        copier update --trust --vcs-ref "$LAST_REF" ${@:3} || return 1
    else
        echo "Unknown update algorithm: '$1'"
        return 1
    fi
    determine_new_ref
    determine_project_path
}

after_update_algorithm() {
    # Run post-update hooks, auto-commit changes
    cd "$PROJECT_PATH" || exit 1
    echo "Previous skeleton revision: $LAST_REF"
    echo "Current skeleton revision: ${NEW_REF:-"N/A"}"
    local REVISION_PARAGRAPH="Skeleton revision: {{skeleton_url}}/tree/${NEW_REF:-"HEAD"}"
    git add .
    if test "$LAST_REF" = "$NEW_REF"
    then
        echo "The version of the skeleton has not changed."
        local COMMIT_MSG="Mechanized patch at {{skeleton}}@$NEW_REF"
    else
        if test "$NEW_REF"
        then
            local COMMIT_MSG="Upgrade to {{skeleton}}@$NEW_REF"
        else
            local COMMIT_MSG="Upgrade to {{skeleton}} of unknown revision"
        fi
    fi
    redis-cli del "$PROJECT_PATH_KEY" > /dev/null 2>&1
    redis-cli del "$NEW_REF_KEY" > /dev/null 2>&1
    git commit --no-verify -m "$COMMIT_MSG" -m "$REVISION_PARAGRAPH"
    setup_gh
}

main() {
    export LAST_REF="{{sref}}"
    export PROJECT_PATH_KEY="$$_skeleton_project_path"
    export NEW_REF_KEY="$$_skeleton_new_ref"
    export LAST_LICENSE_NAME="{{_copier_answers['license_name']}}"
    cd "${PROJECT_PATH:=$(git rev-parse --show-toplevel)}" || exit 1
    echo
    echo "--- Last skeleton revision: $LAST_REF"
    echo
    echo "UPGRADE ROUTINE [1/3]: Running pre-update hooks."
    echo "[----------------------------------------------]"
    before_update_algorithm || exit 1
    echo "[----------------------------------------------]"
    echo "UPGRADE ROUTINE [1/3] COMPLETE. ✅"
    echo
    echo "UPGRADE ROUTINE [2/3]: Running the underlying update algorithm."
    echo "[-------------------------------------------------------------]"
    run_update_algorithm "$@" || exit 1
    echo "[-------------------------------------------------------------]"
    echo "UPGRADE ROUTINE [2/3] COMPLETE. ✅"
    echo
    echo "--- Project path: $PROJECT_PATH"
    echo
    echo "UPGRADE ROUTINE [3/3]: Running post-update hooks."
    echo "[-----------------------------------------------]"
    after_update_algorithm
    echo "[-----------------------------------------------]"
    echo "UPGRADE ROUTINE [3/3] COMPLETE. ✅"
    echo
    echo "Done! 🎉"
    echo
    echo "Your repository is now up to date with this {{skeleton}} revision:"
    echo "{{skeleton_url}}/tree/${NEW_REF:-"HEAD"}"
}

main "$@"