# SPDX-License-Identifier: {{license}}
# (C) {{year}}-present {{copyright}} ({{github}})
"""
`{{package}}`.

Entrypoint script.
"""


def main() -> None:
    """Run the `{{package}}` package as an app."""


if __name__ == "__main__":
    main()
