"""
`{{package}}`.

Entrypoint script.

(C) 2023-present {{copyright}} ({{github}})
"""


def main() -> None:
    """Run the `{{package}}` package as an app."""


if __name__ == "__main__":
    main()
