# {{"project/#% if docs %#mkdocs.yml#% endif %#.jinja"|skeleton_notice(snref=snref, srev=srev)|line_prefix("# ")}}

site_name: "{{repo_name}}"
site_description: "{{project_description}}"
site_url: "{{docs_url}}"
repo_url: "{{repo_url}}"
repo_name: "{{github_username}}/{{repo_name}}"
watch:
- "{{package_name}}"

nav:
- "Overview": "index.md"
#%- if public %#
- "Contributing": "contributing.md"
#%- endif %#
# - "API Reference":
#   - module.py: "reference/module.md"
#   - etc.
- "Changelog": "changelog.md"

theme:
  name: "material"
  features:
  - "content.code.annotate"
  - "navigation.top"
  - "navigation.tracking"
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: "material/brightness-auto"
      name: "Switch to light mode"
  - media: "(prefers-color-scheme: light)"
    scheme: "default"
    primary: "teal"
    accent: "purple"
    toggle:
      icon: "material/weather-sunny"
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: "slate"
    primary: "black"
    accent: "lime"
    toggle:
      icon: "material/weather-night"
      name: "Switch to system preference"

extra_css:
- "css/mkdocstrings.css"

markdown_extensions:
- "pymdownx.highlight":
    use_pygments: true
- "pymdownx.superfences":
    custom_fences:
      - name: "mermaid"
        class: "mermaid"
        format: !!python/name:pymdownx.superfences.fence_code_format
- "toc":
    permalink: true
- "admonition"
- "pymdownx.emoji"
- "pymdownx.magiclink"
- "footnotes"

plugins:
- "autorefs"
- "search"
- "markdown-exec"
- "mkdocstrings"