# {{_origin|skeleton_notice(snref=snref, srev=srev)|indent("# ")}}

site_name: "{{repo}}"
site_description: "{{description}}"
site_url: "{{docs_url}}"
repo_name: "{{repo}}"
repo_url: "{{repo_url}}"
watch:
- "{{package}}"

nav:
- "Overview": "index.md"
- "API Reference": "api.md"
#%- if public %#
- "Contributing": "contributing.md"
- "Code of Conduct": "code_of_conduct.md"
#%- endif %#
- "Changelog": "changelog.md"

theme:
  name: "material"
  features:
  - "content.code.annotate"
  - "navigation.top"
  - "navigation.tracking"
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: "default"
    primary: "teal"
    accent: "purple"
    toggle:
      icon: "material/weather-night"
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: "slate"
    primary: "black"
    accent: "lime"
    toggle:
      icon: "material/brightness-auto"
      name: "Switch to system preference"
  - media: "(prefers-color-scheme)"
    toggle:
      icon: "material/weather-sunny"
      name: "Switch to light mode"

extra_css:
- "css/mkdocstrings.css"

markdown_extensions:
- "admonition"
- "footnotes"
- "pymdownx.emoji"
- "pymdownx.highlight":
    use_pygments: true
- "pymdownx.magiclink"
- "pymdownx.superfences"
- "toc":
    permalink: true

plugins:
- "autorefs"
- "search"
- "markdown-exec"
- "mkdocstrings":
    handlers:
      python:
        options:
          # https://mkdocstrings.github.io/python/usage/#configuration/
          docstring_style: "numpy"
          docstring_section_style: "list"
          docstring_options:
            ignore_init_summary: true
            trim_doctest_flags: false
          members_order: "source"
          merge_init_into_class: true
          parameter_headings: true
          show_submodules: true
          show_inheritance_diagram: false
          show_signature_annotations: false
          signature_crossrefs: true
          line_length: 60
          show_labels: false
          show_symbol_type_heading: false
          show_symbol_type_toc: true
          summary: true
        paths: ["{{package}}/"]
        import:
        - "https://docs.python.org/3/objects.inv"
