# {{_origin|skeleton_notice(snref=snref, srev=srev)|custom_indent("# ")}}

default_install_hook_types:
- "pre-commit"
- "pre-push"

repos:
#%- with included=True %#
#%- include ".pre-commit-config.yaml" %#
#%- endwith %#