# {{repo_name}} #% if publish_on_pypi %#[![Package version](https://img.shields.io/pypi/v/{{pypi_project_name}}?label=PyPI)](https://pypi.org/project/{{pypi_project_name}}) [![Supported Python versions](https://img.shields.io/pypi/pyversions/{{pypi_project_name}}.svg?logo=python&label=Python)](https://pypi.org/project/{{pypi_project_name}})#% endif %#
[![Tests]({{repo_url}}/actions/workflows/test.yml/badge.svg)]({{repo_url}}/actions/workflows/test.yml)#% if visibility == "public" %#
[![Coverage](https://coverage-badge.samuelcolvin.workers.dev/{{github_username}}/{{repo_name}}.svg)]({{coverage_url}})#% endif %#
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
[![Code style](https://img.shields.io/badge/code%20style-black-000000.svg?label=Code%20style)](https://github.com/psf/black)
#%- if visibility == "public" %#
[![License](https://img.shields.io/github/license/{{github_username}}/{{repo_name}}.svg?label=License)]({{repo_url}}/blob/HEAD/LICENSE)
#%- endif %#
#%- if use_precommit %#
[![Pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white)](https://github.com/pre-commit/pre-commit)
#%- endif %#
#% if project_description %#
{{project_description}}
#% endif %#

# Installation#%- if not publish_on_pypi -%# for developers#%- endif %#
If you want to…

#% if publish_on_pypi %#
## …use this tool in your project 💻
#% if is_cli_tool -%#
To use this globally as a CLI tool, simply install it with [pipx](https://github.com/pypa/pipx)

    pipx install {{pypi_project_name}}


You might also simply install it with pip:

    pip install {{pypi_project_name}}

#% else -%#
You might simply install it with pip:

    pip install {{pypi_project_name}}

#%- endif %#

If you use [Poetry](https://python-poetry.org/), then run:

    poetry add {{pypi_project_name}}

## …contribute to [{{repo_name}}]({{repo_url}}) 🚀
#% endif %#
Happy to accept contributions!

#%- include "fragments/contributor_setup.md" %#

# Legal info
© Copyright by {{author_full_name}} ([@{{github_username}}](https://github.com/{{github_username}})).#% if license_name != "None" %#<br />This software is licensed under the [{{license_name}} License]({{repo_url}}/blob/main/LICENSE).
#% endif %#
