name: "PyPI"

on:
  release:
    types: ["published"]

jobs:
  release:
    runs-on: "ubuntu-latest"
    environment: "Release"
    permissions:
      id-token: "write"
    env:
      POETRY_VIRTUALENVS_CREATE: "false"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Install poetry"
      run: |
        pipx install poetry
    - name: "Build with poetry"
      run: |
        poetry build
    - name: "Publish package distributions to PyPI"
      uses: "pypa/gh-action-pypi-publish@release/v1"
