# {{"project/.github/workflows/#% if docs %#documentation-links.yml#% endif %#.jinja"|skeleton_notice(sr=sr)|line_prefix("# ")}}

name: "readthedocs/actions"
on:
  pull_request_target:
    types:
    - "opened"
    paths:
    - "docs/**"
    - "CHANGELOG.md"

permissions:
  pull-requests: "write"

jobs:
  documentation-links:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "readthedocs/actions/preview@v1"
      with:
        project-slug: "{{docs_slug}}"