# {{_origin|skeleton_notice(snref=snref, srev=srev)|indent("# ")}}

#% include "fragments/gha-header.yml" %#
#%- from "fragments/actions.yml" import actions %#

name: "Tests"

on: ["push"]

jobs:
  test:
    runs-on: "{{'${{matrix.os}}'}}-latest"
    environment: "Test"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "macos", "windows"]
        python-version: [{{pythons}}]
    env:
      context: "{{'${{matrix.python-version}}-${{matrix.os}}'}}"
    timeout-minutes: 10
    steps:
    - uses: "{{actions['actions/checkout']}}"
    - name: "Install Poetry"
      run: "pipx install poetry=={{poetry_version}}"
    - name: "Set up Python {{'${{matrix.python-version}}'}}"
      uses: "{{actions['actions/setup-python']}}"
      with:
        python-version: "{{'${{matrix.python-version}}'}}"
        cache: "poetry"
    - name: "Install the project"
      run: "poetry install"
    - name: "Run tests"
      env:
        PY_COLORS: 1  # Thanks @zanieb!
      run: >
        poetry run coverage run
        --context={{'${{env.context}}'}}
        -m pytest --doctest-only -v .
    - name: "Show coverage report"
      run: "poetry run coverage report --show-missing"
    - name: "Upload coverage data file artifact"
      uses: "{{actions['actions/upload-artifact']}}"
      with:
        name: "coverage-{{'${{env.context}}'}}"
        path: ".coverage"
        overwrite: true