# {{_origin|skeleton_notice(snref=snref, srev=srev)|indent("# ")}}

#% include "fragments/gha-header.yml" %#
#%- from ".github/workflows/scsgha.yml" import actions %#

name: "Upload Coverage"

on:
  workflow_run:
    workflows: ["Tests"]
    types: ["completed"]

permissions:
  actions: "read"
  statuses: "write"

jobs:
  combine:
    if: "{{'${{github.event.workflow_run.conclusion == \'success\'}}'}}"
    runs-on: "ubuntu-latest"
    steps:
    - uses: "{{actions['actions/checkout']}}"
    - name: "Install Poetry"
      run: "pipx install poetry=={{poetry_version}}"
    - name: "Set up Python"
      uses: "{{actions['actions/setup-python']}}"
      with:
        cache: "poetry"
    - name: "Install the project"
      run: "poetry install --only=dev,dev-skeleton"
    - run: "gh run download {{'${{github.event.workflow_run.id}}'}} --dir .covfiles/"
      env:
        GH_TOKEN: "{{'${{github.token}}'}}"
    - run: "poetry run coverage combine --append .covfiles/*"
    - name: "Upload coverage data file"
      uses: "{{actions['actions/upload-artifact']}}"
      with:
        name: "coverage"
        path: ".coverage"
    - run: "poetry run coverage xml --fail-under=0"
    - name: "Upload coverage XML report"
      uses: "{{actions['actions/upload-artifact']}}"
      with:
        name: "coverage-xml"
        path: "coverage.xml"
    - run: >
        poetry run coverage html
        --fail-under=0
        --directory=.covhtml/
        --show-contexts
        --title "{{repo}} coverage for {{'${{github.sha}}'}}"
    - name: "Upload coverage HTML report"
      uses: "{{actions['actions/upload-artifact']}}"
      with:
        name: "coverage-html"
        path: ".covhtml/"

  codecov:
    needs: "combine"
    if: "{{'${{github.event.workflow_run.pull_requests[0]}}'}}"
    runs-on: "ubuntu-latest"
    environment: "Upload Coverage"
    steps:
    - uses: "{{actions['actions/checkout']}}"
    - uses: "{{actions['actions/download-artifact']}}"
      with:
        name: "coverage-xml"
        merge-multiple: true
    - name: "Upload coverage reports to Codecov"
      uses: "{{actions['codecov/codecov-action']}}"
      with:
        files: "coverage.xml"
      env:
        CODECOV_TOKEN: "{{'${{secrets.CODECOV_TOKEN}}'}}"
    - name: "Show coverage report"
      run: "poetry run coverage report --show-missing"

  smokeshow:
    needs: "combine"
    if: "{{'${{github.event.workflow_run.head_branch == \'main\'}}'}}"
    runs-on: "ubuntu-latest"
    environment: "Upload Coverage"
    steps:
    - uses: "{{actions['actions/checkout']}}"
    - name: "Install Poetry"
      run: "pipx install poetry=={{poetry_version}}"
    - uses: "{{actions['actions/setup-python']}}"
      with:
        cache: "poetry"
    - name: "Install the project"
      run: "poetry install --only=dev,dev-skeleton"
    - name: "Download coverage reports"
      uses: "{{actions['actions/download-artifact']}}"
      with:
        name: "coverage-html"
        path: ".covhtml/"
        merge-multiple: true
    - run: "poetry run smokeshow upload .covhtml/"
      env:
        SMOKESHOW_GITHUB_STATUS_DESCRIPTION: "Coverage {coverage-percentage}"
        SMOKESHOW_GITHUB_COVERAGE_THRESHOLD: 90
        SMOKESHOW_GITHUB_CONTEXT: "coverage"
        SMOKESHOW_GITHUB_TOKEN: "{{'${{secrets.GITHUB_TOKEN}}'}}"
        SMOKESHOW_GITHUB_PR_HEAD_SHA: "{{'${{github.event.workflow_run.head_sha}}'}}"
        SMOKESHOW_AUTH_KEY: "{{'${{secrets.SMOKESHOW_AUTH_KEY}}'}}"
    - name: "Show coverage report"
      run: "poetry run coverage report --show-missing"
