# {{"project/.github/workflows/#% if test_suite %#test.yml#% endif %#.jinja"|skeleton_notice(snref=snref, srev=srev)|indent("# ")}}

name: "Tests"

on: ["push"]

jobs:
  test:
    runs-on: "ubuntu-latest"
    environment: "Test"
    strategy:
      matrix:
        python-version: [{{python_versions}}]
    steps:
    - uses: "actions/checkout@v4"
    - name: "Set up Python {{"${{matrix.python-version}}"}}"
      uses: "actions/setup-python@v5"
      with:
        python-version: "{{"${{matrix.python-version}}"}}"
    - name: "Install the project"
      run: |
        pip install poetry
        poetry install
    - name: "Run tests"
      run: "poetry run coverage run -m pytest -v ."
    - name: "Report coverage"
      run: >
        poetry run coverage report
        && poetry run coverage html --show-contexts
        --title "{{repo_name}} coverage for {{"${{github.sha}}"}}"
    - name: "Store coverage html"
      uses: "actions/upload-artifact@v3"
      with:
        name: "coverage-html"
        path: "htmlcov"