# {{_origin|skeleton_notice(snref=snref, srev=srev)|indent("# ")}}

#% include "fragments/gha-header.yml" %#
#%- from "fragments/actions.yml" import actions %#

name: "Upload Coverage"

on:
  workflow_run:
    workflows: ["Tests"]
    types: ["completed"]

permissions:
  actions: "read"
  statuses: "write"

jobs:
  smokeshow:
    runs-on: "ubuntu-latest"
    environment: "Upload Coverage"
    steps:
    - uses: "{{actions['actions/setup-python']}}"
      with:
        python-version: "{{python}}"
    - run: "pip install smokeshow"
    - uses: "{{actions['actions/download-artifact']}}"
      with:
        pattern: "coverage-*"
        path: ".covfiles/"
        merge-multiple: true
    - run: "coverage combine .covfiles/coverage-*"
    - run: >
        poetry run coverage html
        --show-contexts
        --title "{{repo}} coverage for {{'${{github.sha}}'}}"
    - run: "smokeshow upload coverage"
      env:
        SMOKESHOW_GITHUB_STATUS_DESCRIPTION: "Coverage {coverage-percentage}"
        SMOKESHOW_GITHUB_COVERAGE_THRESHOLD: 91
        SMOKESHOW_GITHUB_CONTEXT: "coverage"
        SMOKESHOW_GITHUB_TOKEN: "{{'${{secrets.GITHUB_TOKEN}}'}}"
        SMOKESHOW_GITHUB_PR_HEAD_SHA: "{{'${{github.event.workflow_run.head_sha}}'}}"
        SMOKESHOW_AUTH_KEY: "{{'${{secrets.SMOKESHOW_AUTH_KEY}}'}}"
