# {{_origin|skeleton_notice(snref=snref, srev=srev)|custom_indent("# ")}}

#% include "fragments/gha-header.yml" %#
#%- from "fragments/actions.yml" import actions %#

name: "ReadTheDocs Preview"

on:
  pull_request_target:
    types:
    - "opened"
    paths:
    - "docs/**"
    - "CHANGELOG.md"

permissions:
  pull-requests: "write"

jobs:
  documentation-links:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "{{actions['readthedocs/actions/preview']}}"
      with:
        project-slug: "{{rtd}}"