# {{_origin|skeleton_notice(snref=snref, srev=srev)|custom_indent("# ")}}

#% include "fragments/gha-header.yml" %#
#%- from "fragments/actions.yml" import actions %#

name: "Tests"

on: ["push"]

jobs:
  test:
    runs-on: "{{"${{matrix.os}}"}}-latest"
    environment: "Test"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "macos", "windows"]
        python-version: [{{pythons}}]
    timeout-minutes: 10
    steps:
    - uses: "{{actions['actions/checkout']}}"
    - name: "Install Poetry"
      run: "pipx install poetry=={{poetry_version}}"
    - name: "Set up Python {{"${{matrix.python-version}}"}}"
      uses: "{{actions['actions/setup-python']}}"
      with:
        python-version: "{{"${{matrix.python-version}}"}}"
        cache: "poetry"
    - name: "Install the project"
      run: "poetry install"
    - name: "Run tests"
      env:
        PY_COLORS: 1  # Thanks @zanieb!
      run: "poetry run coverage run -m pytest -v ."
    - name: "Report coverage"
      run: >
        poetry run coverage report
        && poetry run coverage html --show-contexts
        --title "{{repo}} coverage for {{"${{github.sha}}"}}
        (measured on Python {{"${{matrix.python-version}}"}})"
    - name: "Store coverage html"
      uses: "{{actions['actions/upload-artifact']}}"
      if: "{{"${{matrix.python-version == '"}}{{python}}{{"' && success()}}"}}"
      with:
        name: "coverage-html"
        path: "htmlcov"