# {{"project/.github/workflows/lint.yml.jinja"|skeleton_notice(sr=sr)|line_prefix("# ")}}

name: "Lint"

on: ["push"]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Set up Python {{python_version}}"
      uses: "actions/setup-python@v4"
      with:
        python-version: "{{python_version}}"
    - name: "Install Ruff"
      run: |
        pipx install ruff
    - name: "Analyze the code with Ruff"
      run: "ruff ."
