# {{_origin|skeleton_notice(snref=snref, srev=srev)|indent("# ")}}

#% include "fragments/gha-header.yml" %#
#%- from "fragments/actions.yml" import actions %#

name: "Lint"

on: ["push"]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "{{actions['actions/checkout']}}"
    - name: "Set up Python {{python}}"
      uses: "{{actions['actions/setup-python']}}"
      with:
        python-version: "{{python}}"
    - name: "Install Ruff"
      run: "pip install ruff"
    - name: "Analyze the code with Ruff"
      run: "ruff ."
