# {{_origin|skeleton_notice(snref=snref, srev=srev)|custom_indent("# ")}}

name: "Mypy"

on: ["push"]

jobs:
  typecheck:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Set up Python {{python_version}}"
      uses: "actions/setup-python@v5"
      with:
        python-version: "{{python_version}}"
    - name: "Install the project"
      run: |
        pip install poetry
        poetry install
    - name: "Type-check with mypy"
      run: >
        poetry run mypy . --strict
        || (echo yes | poetry run mypy --install-types && poetry run mypy . --strict)
